@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap");

/* make the customizations */
$theme-colors: (
  "primary": #0d9dfd,
  "danger": teal,
  "accent": #c34b4b,
);

$font-family-base: "Inter";
$btn-border-radius: "50px";
$btn-padding-x: 20px;

$nav-tabs-border-width: 5px;
$nav-tabs-border-color: transparent;
$nav-tabs-link-active-border-color: transparent;
$nav-tabs-link-active-bg: transparent;
$nav-tabs-link-active-color: var(--bs-primary);
$nav-tabs-border-radius: 0;

$input-btn-border-width: 0;
$input-bg: transparent;
$input-btn-padding-y: 10px;
$input-btn-padding-x: 1rem;
$input-border-radius: 0;

@media screen and (min-width: 1400px) {
  $btn-padding-x: 36px;
  $btn-padding-y: 1rem;
  $btn-font-size: 20px;
  $btn-font-weight: 500;
  .btn {
    text-transform: uppercase;
  }
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
